<div class="">
    <div class="">
        <label>Stroke Width</label>
        <input class="" min='0' step="1" type='number' [(ngModel)]="values.strokeWidth" />
    </div>
    <div class="">
        <label>Fill Color</label>
        <input class="" type='color' [(ngModel)]="values.fillColor" />
    </div>
    <div class="">
        <label>Stroke Color</label>
        <input class="" type='color' [(ngModel)]="values.strokeColor" />
    </div>
    <div class="">
        <label>Radius</label>
        <input class="" min='10' step="1" type='number' [(ngModel)]="values.radius" />
    </div>
    <div class="">
        <label>X</label>
        <input class="" min='10' step="1" type='number' [(ngModel)]="values.x" />
    </div>
    <div class="">
        <label>Y</label>
        <input class="" min='10' step="1" type='number' [(ngModel)]="values.y" />
    </div>
</div>