<div *ngIf='selectedObject' class="">
    <h1>{{selectedObject.type}}</h1>
    <div class="">
        <label>Stroke Width</label>
        <input class="" min='0' step="1" type='number' [(ngModel)]="selectedObject.strokeWidth" />
    </div>
    <div class="">
        <label>Fill Color</label>
        <input class="" type='color' [(ngModel)]="selectedObject.fillColor" />
    </div>
    <div class="">
        <label>Stroke Color</label>
        <input class="" type='color' [(ngModel)]="selectedObject.strokeColor" />
    </div>
    <div class="" *ngIf="selectedObject.radius">
        <label>Radius</label>
        <input class="" min='10' step="1" type='number' [(ngModel)]="selectedObject.radius" />
    </div>
    <div class="">
        <label>X</label>
        <input class="" min='10' step="1" type='number' [(ngModel)]="selectedObject.x" />
    </div>
    <div class="">
        <label>Y</label>
        <input class="" min='10' step="1" type='number' [(ngModel)]="selectedObject.y" />
    </div>
    <div class="" *ngIf="selectedObject.width">
        <label>Width</label>
        <input class="" min='10' step="1" type='number' [(ngModel)]="selectedObject.width" />
    </div>
    <div class="" *ngIf="selectedObject.height">
        <label>Height</label>
        <input class="" min='10' step="1" type='number' [(ngModel)]="selectedObject.height" />
    </div>
    <div class="" *ngIf="selectedObject.rx !== undefined">
        <label>Rx</label>
        <input class="" min='0' step="1" type='number' [(ngModel)]="selectedObject.rx" />
    </div>
    <div class="" *ngIf="selectedObject.ry !== undefined">
        <label>Ry</label>
        <input class="" min='0' step="1" type='number' [(ngModel)]="selectedObject.ry" />
    </div>
    <div class="" *ngIf="selectedObject.fontSize !== undefined">
        <label>Font Size</label>
        <input class="" min='0' step="1" type='number' [(ngModel)]="selectedObject.fontSize" />
    </div>
    <div class="" *ngIf="selectedObject.text !== undefined">
        <label>Text</label>
        <input class="" type='text' [(ngModel)]="selectedObject.text" />
    </div>
</div>